body {color:#604d53;
                background-color: #f7717d;
                font-family: 'Notable', sans-serif; 100px;
               
               
            }
            img{
                 
               margin-left: 400px;
               margin-bottom: 50px;
               margin-top: 20px;
               
            }
            
            header{
                color:604d53;
               margin-left:300px;
                font-size: 60px;
            }
            nav ul{
                list-style: none;
                margin-left: 400px;
                margin-top: 5px;
                
            }
            nav li{
                display: inline;
            }
            nav a {
                display: inline-block;
                padding: 10px;
                background-color: coral;
                color: black;
                text-decoration: none;
            }
            p{
            margin-left: 400px;
                margin-top: 20px;
            }
            h1{
            
               margin-left:450px;
                font-size: 60px;
            }
            h2{
            
               margin-left:470px;
                margin-top: 2px;
                font-size: 60px;
            }
            h3{
            
               margin-left:500px;
                font-size: 60px;
                margin-top: 1px;
            }
        h4{
            
               margin-left:500px;
                margin-top: 2px;
                font-size: 60px;
            }
        