body{ color: #EFD6AC;
	background-color: #002500;
	font-family: 'Indie Flower', cursive;
 }
 h1{ color:#EFD6AC;

 	font-family: 'M PLUS Rounded 1c', sans-serif; text-align: center;}
 p{color:#EFD6AC;
 	
    font-family: 'Indie Flower', cursive; text-align: center;}

 